# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.properties
*.bin
SetSolver/.gradle/2.0/taskArtifacts/cache.properties.lock
*.lock
SetSolver/.idea/compiler.xml
SetSolver/.idea/copyright/profiles_settings.xml
SetSolver/.idea/description.html
SetSolver/.idea/misc.xml
SetSolver/.idea/modules.xml
SetSolver/.idea/project-template.xml
SetSolver/.idea/uiDesigner.xml
SetSolver/.idea/workspace.xml
SetSolver/build/classes/main/Main.class
SetSolver/build/classes/main/solver/Card$Colors.class
SetSolver/build/classes/main/solver/Card$Numbers.class
SetSolver/build/classes/main/solver/Card$Symbols.class
SetSolver/build/classes/main/solver/Card.class
SetSolver/build/classes/main/solver/setsolver.class
*.class
SetSolver/build/jacoco/test.exec
*.html
SetSolver/build/reports/coverageHtml/jacoco-resources/branchfc.gif
*.gif
SetSolver/build/reports/coverageHtml/jacoco-resources/prettify.css
*.js
SetSolver/build/reports/coverageHtml/jacoco-resources/report.css
*.css
SetSolver/build/test-results/test/binary/output.bin.idx
*.xml
SetSolver/build/tmp/expandedArchives/org.jacoco.agent-0.7.7.201606060606.jar_99c40y3wbjrh1hdh2f145x05w/jacocoagent.jar
SetSolver/build/tmp/expandedArchives/org.jacoco.agent-0.7.7.201606060606.jar_99c40y3wbjrh1hdh2f145x05w/META-INF/MANIFEST.MF
SetSolver/build/tmp/expandedArchives/org.jacoco.agent-0.7.7.201606060606.jar_99c40y3wbjrh1hdh2f145x05w/META-INF/MTNMINDS.RSA
SetSolver/build/tmp/expandedArchives/org.jacoco.agent-0.7.7.201606060606.jar_99c40y3wbjrh1hdh2f145x05w/META-INF/MTNMINDS.SF
TSVReader/.cache/v/cache/lastfailed
*.pyc
